<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tu_darmstadt.informatik.newapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

      <activity
        android:name="de.tu_darmstadt.informatik.newapp.Splash.SplashActivity"
        android:label="@string/app_name"
        android:launchMode="standard"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />

          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

        <activity
            android:name="de.tu_darmstadt.informatik.newapp.myAlert"
            android:label="@string/activity_new_message"
            android:parentActivityName="de.tu_darmstadt.informatik.newapp.MainActivity" >
        </activity>

        <activity
            android:name="de.tu_darmstadt.informatik.newapp.Client.uiClubber"
            android:label="@string/activity_message_uiClubber"
            android:parentActivityName="de.tu_darmstadt.informatik.newapp.MainActivity" >
        </activity>

        <activity
            android:name="de.tu_darmstadt.informatik.newapp.Server.uiHost"
            android:label="@string/activity_message_uiHost"
            android:parentActivityName="de.tu_darmstadt.informatik.newapp.MainActivity" >
        </activity>

        <activity
            android:name="de.tu_darmstadt.informatik.newapp.Server.uiHostReadSDCardActivity"
            android:label=""
            android:parentActivityName="de.tu_darmstadt.informatik.newapp.Server.uiHost" >
        </activity>

        <activity
            android:name="de.tu_darmstadt.informatik.newapp.Server.uiHostEditPlaylistActivity"
            android:label=""
            android:parentActivityName="de.tu_darmstadt.informatik.newapp.Server.uiHost" >
        </activity>

        <activity
            android:name="de.tu_darmstadt.informatik.newapp.database_activity.UserProfileRegistrationActivity"
            android:label="Create your Profile"
            android:parentActivityName="de.tu_darmstadt.informatik.newapp.MainActivity" >
        </activity>

        <activity
            android:name="de.tu_darmstadt.informatik.newapp.database_activity.LoginActivity"
            android:label="Login"
            android:parentActivityName="de.tu_darmstadt.informatik.newapp.MainActivity" >
        </activity>

        <activity
            android:name="de.tu_darmstadt.informatik.newapp.database_activity.UserProfileImageActivity"
            android:label="Upload your pic"
            android:parentActivityName="de.tu_darmstadt.informatik.newapp.database_activity.UserProfileRegistrationActivity" >
        </activity>

        <activity
            android:name="de.tu_darmstadt.informatik.newapp.database_activity.ManageUserProfileActivity"
            android:label="Upload your pic"
            android:parentActivityName="de.tu_darmstadt.informatik.newapp.MainActivity" >
        </activity>



    </application>

</manifest>
